@model List<GamingStore.Models.Productos>


@{
    ViewBag.Title = "Index";
}

<style>


    section img{
        height:150px;
        width:150px;


    }


    #seccionproductos {
        box-sizing: border-box;
        margin: 10px;
        padding: 20px;
        background-color: #4CAF50;
        float: left;
        text-align: center;
    }

        #seccionproductos:hover {
            background-color: green;
            transform: scale(1.05,1.05);
            transition: all 0.5s;
        }


    
    .btneditar {
        height:80px;
        width:80px;
        background-color: lawngreen;
        border:5px;
        border-style: groove;
        color:black;
        cursor:pointer;
    }
    
    footer {
        text-align:center;


    }
    
 

</style>




<h2>Todos los Productos</h2>





    @foreach(var producto in Model) { 



        <section id="seccionproductos">


            <article>
                
                <h2> @producto.Nombre</h2>
                <img src="@producto.Url" />
                <p>@producto.Descripcion</p>
                <p>@producto.Precio</p>
                <div>
                    <a class="btneditar" href="/Productos/Editar/@producto.Id">Editar producto</a>
                    <a class="btneditar" href="/Productos/VerProducto/@producto.Id">Ver detalles</a>
                    <a class="btneditar" href="/Carrito/VerCarro/@producto.Id" onclick="addCarrito(@producto.Id)">Añadir al Carro</a>
                </div>

            </article>


        </section>
    }
    

<script>
    function addCarrito(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                alert("Agregado al Carro");
                console.log(this.responseText);
            }
        };
        xhttp.open("POST", "/Carrito/AddProductoCarro", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("id=" + id);
    }

</script>




 













